:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.heading {
  color: #403501;
}

.alert {
  padding: 0.5em 0 0.5em 0;
  color: red;
}

.add-book {
  padding: 0.5em 1em;
  border: none;
  background-color: #8C7503;
  color: #fff;
  font-weight: bold;
  outline: none;
}

.add-book:hover {
  background-color: #403501;
}

.library-form {
  display: none;
  margin-top: 1em;
  padding: 0.5em;
  background-color: #D9A273;
}

.library-form input {
  outline: none;
  border: none;
  padding: 0.5em;
  color: #403501;
}

.form-submit {
  background-color: #fff;
}
.form-submit:hover {
  background-color: #A4A5A6;
}
.show {
  display: block;
}

.shelf {
  margin-top: 2em;
}

.table {
  width: 100%;
  margin: 0 auto 1em;
}

th, td{
  color: #fff;
  padding: 0.4em;
}

th {
  background-color: #403501;
}
td {
  background-color: #8C7503;
  text-align: center;
}

.yes {
  content: 'YES';
}