:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  border: 2px solid red;
  max-width: 1000px;
  margin: 0 auto;
}

.library-form {
  /*display: flex;*/
  display: none;
}

.show {
  display: block;
}

.shelf {
  margin-top: 2em;
}

.yes {
  content: 'YES';
}